<nav class="nav">
    <a href="/">
        <div class="header-brand">
            <h1>aromas</h1>
            <p>COFFEE ROASTERS</p>
        </div>
    </a>

    <div class="menu-flex">
        <ul class="header-menu">
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/">
                <li>About</li>
            </a>
            <a href="/">
                <li>Blog</li>
            </a>
            <a href="/">
                <li>Contact Us</li>
            </a>
            <a href="/">
                <li>Sign in</li>
            </a>
            <a href="/">
                <li>Register</li>
            </a>
            <li>Cart</li>
        </ul>
        <ul class="header-categories">
            <li>
                <a href="#">
                    Coffee
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="sub-menu-container">
                    <ul class="sub-menu">
                        <a href="/coffee">
                            <li>All Coffee</li>
                        </a>
                        <a href="/coffee">
                            <li>Best Sellers</li>
                        </a>
                        <a href="/coffee">
                            <li>Coffee Deals</li>
                        </a>
                        <a href="/coffee">
                            <li>Espresso Blends</li>
                        </a>
                        <a href="/coffee">
                            <li>Single Origin Coffee Beans</li>
                        </a>
                        <a href="/coffee">
                            <li>Omni Blends</li>
                        </a>
                        <a href="/coffee">
                            <li>Organic Coffee Beans</li>
                        </a>
                        <a href="/coffee">
                            <li>Decaf Coffee</li>
                        </a>
                        <a href="/coffee">
                            <li>Instant</li>
                        </a>
                    </ul>
                </div>

            </li>
            <li>
                <a href="#">
                    Tea
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="sub-menu-container">
                    <ul class="sub-menu">
                        <a href="/coffee">
                            <li>All Tea</li>
                        </a>
                        <a href="/coffee">
                            <li>Black Tea</li>
                        </a>
                        <a href="/coffee">
                            <li>Chai Tea</li>
                        </a>
                        <a href="/coffee">
                            <li>Detox</li>
                        </a>
                        <a href="/coffee">
                            <li>Exotic Tea</li>
                        </a>
                        <a href="/coffee">
                            <li>Flavoured Tea</li>
                        </a>
                        <a href="/coffee">
                            <li>Fruit & Iced Tea</li>
                        </a>
                        <a href="/coffee">
                            <li>Green Tea</li>
                        </a>
                        <a href="/coffee">
                            <li>Herbal Tea</li>
                        </a>
                        <a href="/coffee">
                            <li>Tea Bags</li>
                        </a>
                        <a href="/coffee">
                            <li>White Tea</li>
                        </a>
                    </ul>
                </div>

            </li>
            <li>
                <a href="#">
                    Capsules & Pods
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="sub-menu-container">
                    <ul class="sub-menu">
                        <a href="/coffee">
                            <li>All Capsules & Pods</li>
                        </a>
                        <a href="/coffee">
                            <li>Capsule Machines</li>
                        </a>
                        <a href="/coffee">
                            <li>Coffee Pods</li>
                        </a>
                        <a href="/coffee">
                            <li>Hot Chocolate Capsules</li>
                        </a>
                        <a href="/coffee">
                            <li>Coffee Capsules Nespresso Compatible</li>
                        </a>
                    </ul>
                </div>

            </li>
            <li>
                <a href="#">
                    Coffee Machines
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="sub-menu-container">
                    <ul class="sub-menu">
                        <a href="/coffee">
                            <li>All Coffee Machines</li>
                        </a>
                        <a href="/coffee">
                            <li>Gaggia Coffee Machines</li>
                        </a>
                        <a href="/coffee">
                            <li>Nuova Simonelli Musica</li>
                        </a>
                    </ul>
                </div>

            </li>
            <li>
                <a href="#">
                    Gifts
                </a>
            </li>
            <li>
                <a href="#">
                    Cafe Equipment
                    <i class="fas fa-angle-down"></i>
                </a>
                <div class="sub-menu-container">
                    <ul class="sub-menu">
                        <a href="/coffee">
                            <li>All Cafe Equipment</li>
                        </a>
                        <a href="/coffee">
                            <li>Barista Tools</li>
                        </a>
                        <a href="/coffee">
                            <li>Coffee Syrups</li>
                        </a>
                        <a href="/coffee">
                            <li>Cold Brew Coffee Maker</li>
                        </a>
                        <a href="/coffee">
                            <li>Cafe Products</li>
                        </a>
                        <a href="/coffee">
                            <li>Drinking Powders</li>
                        </a>
                        <a href="/coffee">
                            <li>Drip Filter Coffee Machines</li>
                        </a>
                        <a href="/coffee">
                            <li>French Press Coffee</li>
                        </a>
                        <a href="/coffee">
                            <li>Aeropress</li>
                        </a>
                        <a href="/coffee">
                            <li>Stovetop Coffee Pot</li>
                        </a>
                        <a href="/coffee">
                            <li>Tea Infusers</li>
                        </a>
                    </ul>
                </div>

            </li>
            <li>
                <div class="search-bar">
                    <input type="text">
                    <i class="fas fa-search"></i>
                </div>
            </li>
        </ul>
    </div>
</nav>