<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aromas Clone</title>
    <script src="https://kit.fontawesome.com/0409ae921b.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-coffee.css">
</head>

<body>
    {{> nav}}
    {{{body}}}

    <footer class="footer">
        <div class="footer-container">
            <ul>
                <li>Navigate</li>
                <a href="/coffee">
                    <li>Black Friday Early Access</li>
                </a>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/">
                    <li>About</li>
                </a>
                <a href="/">
                    <li>Blog</li>
                </a>
                <a href="/">
                    <li>Contact Us</li>
                </a>
                <a href="/">
                    <li>Shipping and Returns</li>
                </a>
                <a href="/">
                    <li>Terms & Conditions</li>
                </a>
                <a href="/">
                    <li>Privacy Policy</li>
                </a>
            </ul>
            <ul>
                <li>Categories</li>
                <a href="/coffee">
                    <li>Coffee</li>
                </a>
                <a href="/coffee">
                    <li>Tea</li>
                </a>
                <a href="/coffee">
                    <li>Capsules & Pods</li>
                </a>
                <a href="/coffee">
                    <li>Coffee Machines</li>
                </a>
                <a href="/coffee">
                    <li>Gifts</li>
                </a>
                <a href="/coffee">
                    <li>Cafe Equipment</li>
                </a>
                <a href="/coffee">
                    <li>Black Friday Sale Best Deals</li>
                </a>
            </ul>
            <ul>
                <a href="/coffee"></a>
                <li>Popular Brands</li>
                <a href="/coffee">
                    <li>Aromas</li>
                </a>
                <a href="/coffee">
                    <li>View All</li>
                </a>
            </ul>
            <ul>
                <li>Contact Info</li>
                <li class="italic footer-contact"><em>Alexandra Place
                        Murarrie QLD 4172
                        Australia</em></li>
                <li>Call us at (07) 3394 9324 </li>
                <li>Connect With Us </li>
                <li class="social-media">
                    <a href="/"><i class="fab fa-facebook"></i></a>
                    <a href="/"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>

            <ul>
                <li>Sign up to our monthly coffee giveaway!</li>
                <li>Every month we give away a year's free coffee to one of our tribe</li>
                <li>
                    <form action="" class="footer-subscribe">
                        <input type="email" name="email" placeholder="Your email address">
                        <button type="submit" class="btn">Yes Please!</button>
                    </form>
                </li>
            </ul>
        </div>

    </footer>
</body>

</html>