<div class="coffee-detail-section">
    <div class="main-left">
        <div class="product-picture">
            <img src="/img/coffee/Sample_Pack_product__11144.1607931491.jpg" alt="">
        </div>

        <div class="product-information side-bar">
            <h1 class="product-information-title">"Best of" sample pack</h1>
            <h2 class="product-information-info-section">Product info</h2>
            <div class="product-information-category">
                <div class="product-information-category-name">
                    <p>Chicago Dark: </p>
                </div>
                <div class="product-information-category-description">
                    <p>The golden boy of Aromas, Chicago is our most awarded coffee and you'll soon see why. A 5-bean blend, roasted for espresso. Bold, strong and chocolatey with zero bitterness and massive aftertaste.</p>
                </div>
            </div>

            <div class="product-information-category">
                <div class="product-information-category-name">
                    <p>Chicago Dark: </p>
                </div>
                <div class="product-information-category-description">
                    <p>The golden boy of Aromas, Chicago is our most awarded coffee and you'll soon see why. A 5-bean blend, roasted for espresso. Bold, strong and chocolatey with zero bitterness and massive aftertaste.</p>
                </div>
            </div>

            <div class="product-information-category">
                <div class="product-information-category-name">
                    <p>Black Label:</p>
                </div>
                <div class="product-information-category-description">
                    <p>Our own house blend. A blend of 7 beans, each roasted to a different level for optimal flavour. The combination is insane. Complex, bold, rich, earthy and citric.</p>
                </div>
            </div>

            <div class="product-information-category">
                <div class="product-information-category-name">
                    <p>Blue Mountain:</p>
                </div>
                <div class="product-information-category-description">
                    <p>A more mellow, creamier blend that is the perfect 2nd cup or afternoon coffee. Our take on the famous Blue Mountain beans from Jamaica.</p>
                </div>
            </div>


            <div class="product-information-category">
                <div class="product-information-category-name">
                    <p>Ethiopian Mocca:</p>
                </div>
                <div class="product-information-category-description">
                    <p>Our recommended single origin starting point. Roasted to a light espresso level, this bean is fruity with citric acidity. Pairs exceptionally well with the other 3 blends as a contrasting flavour.</p>
                </div>
            </div>

            <div class="product-information-category">
                <div class="product-information-category-name">
                    <p>SKU:</p>
                </div>
                <div class="product-information-category-description">
                    <p>CB116</p>
                </div>
            </div>
        </div>
    </div>

    <div class="main-right">
        <div class="product-description">
            <h1>"best of" sample pack</h1>
            <p>If you've looked around and are still unsure what coffees to buy, start with buying yourself a sample pack. Our head roaster has made the choices for you based on decades of customer favourites and you are guaranteed to love them. This pack also makes the perfect gift for any coffee lover in your life.</p>
            <p>This bundle came about after hundreds of conversations with new customers over the years, helping them find the blends that they should try first. The coffees we have included are all customer favourites, and house blends in cafes around Australia. Each has its own devoted following who only drink just that one blend.</p>
            <p>Most people love to have some variety to choose from, especially if they drink more than 1 cup a day. These coffees are different enough from each other to offer a lot of variety each morning.</p>
            <p><b>Sample Packs ship for free Australia-wide</b></p>
        </div>

        <div class="product-purchase">
            <div class="price">$44.00</div>
            <label for="size" class="accent">size:</label>
            <select name="size" id="size">
                <option>4 &times 250g</option>
                <option>4 &times 500g</option>
            </select>
            <label for="grind" class="accent">grind:</label>
            <select name="size" id="size">
                <option>Espresso</option>
                <option>Filter</option>
                <option>Turkish</option>
                <option>Plunger</option>
                <option>Staresso</option>
            </select>
            <label for="quantity">Quantity</label>
            <input type="number" min="1" value="1">

            <button class="btn">Add to Cart</button>
        </div>
    </div>
</div>