<div class="coffee-section">
    <div class="coffee-header">
        <img src="img/coffee/cat-coffee.svg" alt="cat-coffee">
        <p>We offer a broad selection of specialty-grade coffee beans for sale. All blends and single-origins are
            roasted in-house every day and delivered to you at their peak of freshness. Discover a delightful diversity
            of different coffee beans showcasing unique flavours from every corner of the world. Aromas coffee is
            lovingly roasted to different levels. For more help in buying the best coffee beans for you, the ultimate
            guide to buying coffee online starts at the bottom of this page!</p>
    </div>
</div>

<div class="coffee-products-section">
    <div class="side-bar">
        <ul>
            <a href="#">
                <li>coffee</li>
            </a>
            <a href="#">
                <li>Best Sellers</li>
            </a>
            <a href="#">
                <li>Coffee Deals</li>
            </a>
            <a href="#">
                <li>Espresso Blends</li>
            </a>
            <a href="#">
                <li>Single Origin Coffee Beans</li>
            </a>
            <a href="#">
                <li>Omni Blends</li>
            </a>
            <a href="#">
                <li>Organic Coffee Beans</li>
            </a>
            <a href="#">
                <li>Decaf Coffee</li>
            </a>
            <a href="#">
                <li>Instant</li>
            </a>
        </ul>

        <ul class="bt">
            <a href="#">
                <li>refine by</li>
            </a>
            <li class="inactive">No filters applied</li>
            <a href="#">
                <li>Coffee Strength</li>
            </a>
            <a href="#">
                <li>Roast Level</li>
            </a>
        </ul>
    </div>

    <div class="product-grid">
        <div class="featured-product coffee-products">
            <a href="#">
                <div class="grid-product 1">
                    <div class="grid-product-header">
                        <img src="/img/featured-product/blue-mountain-coffee.jpg" alt="blue-mountain-coffee">
                        <div class="note">EARTHY, MALT-LIKE. GREATE WITH MILK</div>
                    </div>
                    <div class="featured-product-title">
                        <div class="sub-title">
                            <h1>BLUE MOUNTAIN COFFEE</h1>
                            <p class="price">$45.00</p>
                        </div>
                        <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                        <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                    </div>
                </div>
            </a>
        </div>

        <div class="featured-product coffee-products">
            <a href="#">
                <div class="grid-product 1">
                    <div class="grid-product-header">
                        <img src="/img/featured-product/blue-mountain-coffee.jpg" alt="blue-mountain-coffee">
                        <div class="note">EARTHY, MALT-LIKE. GREATE WITH MILK</div>
                    </div>
                    <div class="featured-product-title">
                        <div class="sub-title">
                            <h1>BLUE MOUNTAIN COFFEE</h1>
                            <p class="price">$45.00</p>
                        </div>
                        <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                        <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                    </div>
                </div>
            </a>
        </div>

        <div class="featured-product coffee-products">
            <a href="#">
                <div class="grid-product 1">
                    <div class="grid-product-header">
                        <img src="/img/featured-product/blue-mountain-coffee.jpg" alt="blue-mountain-coffee">
                        <div class="note">EARTHY, MALT-LIKE. GREATE WITH MILK</div>
                    </div>
                    <div class="featured-product-title">
                        <div class="sub-title">
                            <h1>BLUE MOUNTAIN COFFEE</h1>
                            <p class="price">$45.00</p>
                        </div>
                        <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                        <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                    </div>
                </div>
            </a>
        </div>

        <div class="featured-product coffee-products">
            <a href="#">
                <div class="grid-product 1">
                    <div class="grid-product-header">
                        <img src="/img/featured-product/blue-mountain-coffee.jpg" alt="blue-mountain-coffee">
                        <div class="note">EARTHY, MALT-LIKE. GREATE WITH MILK</div>
                    </div>
                    <div class="featured-product-title">
                        <div class="sub-title">
                            <h1>BLUE MOUNTAIN COFFEE</h1>
                            <p class="price">$45.00</p>
                        </div>
                        <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                        <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>