<header class="full-screen-header">
    <div class="header-content">
        <h1>THE ORIGINAL BRISBANE COFFEE ROASTERY</h1>
        <p>Your new favourite coffee awaits you friend. One taste is (usually) all it takes to taste the difference 40
            years of perfecting your craft can make.</p>
        <a href="/coffee"><button class="btn">Shop Coffee Beans</button></a>
    </div>
</header>
<main>
    <section class="introduction">
        <h1>AROMAS COFFEE ROASTERS</h1>
        <p>One of the original Brisbane coffee roasters, Aromas offers an extensive selection of premium-quality coffee
            blends, single origins, and teas along with everything needed to run a successful cafe or home-barista
            endeavour. Proudly carryung forward our reputation for coffee excellence from almost four decades of
            roasting coffee, we strive to serve Aromahoclics (a.k.a True Coffee Lovers) around Australia and beyond only
            the best blended and single origin coffees, sustainably produced and masterfully roasted to time-tested
            standards.</p>
        <a href="/coffee"><button class="btn">Find my perfect coffee</button></a>
    </section>

    <section class="section-category">
        <div class="category-grid">
            <div class="grid-item">
                <a href="/coffee">
                    <div class="item-coffee grid-item-overlay">
                        <img src="/img/category/coffee.jpg" alt="coffee">
                        <div class="grid-coffee-title">
                            <h1>COFFEE</h1>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item ">
                <a href="/coffee">
                    <div class="item-tea grid-item-overlay">
                        <img src="/img/category/tea.jpg" alt="tea">
                        <div class="grid-coffee-title">
                            <h1>TEA</h1>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item">
                <a href="/coffee">
                    <div class="item-capsule grid-item-overlay">
                        <img src="/img/category/capsule-and-pod.jpg" alt="capsule-and=pod">
                        <div class="grid-coffee-title">
                            <h1>CAPSULES & PODS</h1>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item ">
                <a href="/coffee">
                    <div class="item-coffee-machines grid-item-overlay">
                        <img src="/img/category/coffee-machine.jpg" alt="coffee-machines">
                        <div class="grid-coffee-title">
                            <h1>COFFEE MACHINES</h1>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item ">
                <a href="/coffee">
                    <div class="item-gifts grid-item-overlay">
                        <img src="/img/category/gift.jpg" alt="gifts">
                        <div class="grid-coffee-title">
                            <h1>GIFTS</h1>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="grid-item">
                <a href="/coffee">
                    <div class="item-cafe-equipment grid-item-overlay">
                        <img src="/img/category/cafe-equipment.jpg" alt="coffee-equipment">
                        <div class="grid-coffee-title">
                            <h1>CAFE EQUIPMENT</h1>
                            <i class="fas fa-long-arrow-alt-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="section-featured-products">
        <div class="section-featured-products-header">
            <h1>FEATURED PRODUCTS</h1>
        </div>
        <div class="featured-product-grid">
            <div class="featured-product">
                <a href="#">
                    <div class="grid-product 1">
                        <div class="grid-product-header">
                            <img src="/img/featured-product/blue-mountain-coffee.jpg" alt="blue-mountain-coffee">
                            <div class="note">EARTHY, MALT-LIKE. GREATE WITH MILK</div>
                        </div>
                        <div class="featured-product-title">
                            <div class="sub-title">
                                <h1>BLUE MOUNTAIN COFFEE</h1>
                                <p class="price">$45.00</p>
                            </div>
                            <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                            <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="featured-product">
                <a href="#">
                    <div class="grid-product 2">
                        <div class="grid-product-header">
                            <img src="/img/featured-product/ethiopian-mocca.jpg" alt="ethiopian-mocca">
                            <div class="note">WINE, ZESTY, FLORAL</div>
                        </div>

                        <div class="featured-product-title">
                            <div class="sub-title">
                                <h1>ETHIOPIAN MOCCA</h1>
                                <p class="price">$37.90</p>
                            </div>
                            <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                            <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="featured-product">
                <a href="#">
                    <div class="grid-product 3">
                        <div class="grid-product-header">
                            <img src="/img/featured-product/ciprianni.jpg" alt="ciprianni">
                            <div class="note">BOLD, RICH, SATISFYING</div>
                        </div>

                        <div class="featured-product-title">
                            <div class="sub-title">
                                <h1>CIPRIANNI</h1>
                                <p class="price">$37.90</p>
                            </div>
                            <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                            <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="featured-product">
                <a href="#">
                    <div class="grid-product 4">
                        <div class="grid-product-header">
                            <img src="/img/featured-product/black-label.jpg" alt="black-label">
                            <div class="note">OUR MOST-POPULAR BLEND W/ MILK EVER!</div>
                        </div>

                        <div class="featured-product-title">
                            <div class="sub-title">
                                <h1>BLACK LABEL</h1>
                                <p class="price">$45.00</p>
                            </div>
                            <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                            <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="featured-product">
                <a href="#">
                    <div class="grid-product 5">
                        <div class="grid-product-header">
                            <img src="/img/featured-product/black-label.jpg" alt="black-label">
                        </div>

                        <div class="featured-product-title">
                            <div class="sub-title">
                                <h1>BLACK LABEL</h1>
                                <p class="price">$45.00</p>
                            </div>
                            <a href="/coffee-detail"><button class="btn">Choose Options</button></a>
                            <a href="/coffee-detail"><button class="btn btn-accent">Quick view</button></a>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </section>

    <section class="from-the-blog">
        <div class="blog-header">
            <h1>FROM THE BLOG</h1>
        </div>

        <div class="blog-grid">
            <div class="blog-grid-item i1">
                <div class="blog-content">
                    <h1>HOW TO MAKE ICED TEA AT HOME</h1>
                    <p>Find out just how easy it is to make the perfect summer drink (that you probably aren't making!)
                    </p>
                    <a href="/"><button class="btn btn-white">Read More</button></a>
                </div>
            </div>
            <div class="blog-grid-item i2">

            </div>
            <div class="blog-grid-item i3">

            </div>
            <div class="blog-grid-item i4">
                <div class="blog-content">
                    <h1>HOW TO STORE COFFEE AT HOME</h1>
                    <p>Ok, you've stocked up on delicious, freshly-roasted coffee and it's on its way. Now, how are you
                        going to keep that flavour as good as possible for the long run? Should you freeze your coffee?
                        Here's everything you need to know.</p>
                    <a href="/"><button class="btn btn-white">Read More</button></a>
                </div>
            </div>
        </div>
    </section>

    <section class="follow-us">
        <div class="followus-header">
            <h1>FOLLOW US @AROMASCOFFEE</h1>
        </div>

        <div class="follow-us-flex">
            <div class="follow-us-item i1 ">
                <div class="overlay-follow-us"></div>
                <div class="follow-us-content">
                    <p>Many people ask us why our coffee tastes so good. Is it our beans? Our roasting? The truth is,
                        it's all of it. Achieving a greate result is never due to just one cause. Instead it's the
                        result of many tiny improvements</p>
                </div>
            </div>
            <div class="follow-us-item i2">
                <div class="overlay-follow-us"></div>
                <div class="follow-us-content">
                    <p>We are pleased to inform our customers that Aromas Espresso Bar will be welcoming dine-in
                        services as of Monday 18/05. AS you are aware, we are only allowed up to 10 guests at one time.
                        Compliance set by the</p>
                </div>
            </div>
            <div class="follow-us-item i3">
                <div class="overlay-follow-us"></div>
                <div class="follow-us-content">
                    <p>Coffee top of the day: get an excellent grinder... Your grinder is arguably the most important
                        piece of equipment you have when making coffee at home. This is for two main reasons. 1) you
                        want to produce</p>
                </div>
            </div>
            <div class="follow-us-item i4">
                <div class="overlay-follow-us"></div>
                <div class="follow-us-content">
                    <p>Storing coffee properly protects it from the natural enemies of freshness. These environmental
                        factors all cause coffee to go stale FAST. If you can protect your fresh coffee from exposure,
                        your beans should taste</p>
                </div>
            </div>
        </div>
    </section>
</main>